body  {
    margin: 0px;
    padding: 0px;
    background-color: rgb(221, 217, 217);
}
#logo {
    width: 150px;
    background-color: rgb(221, 217, 217);
    min-height: 150px;
    margin-left: 700px;
    margin-right: auto;
    float: left;
}
#linkler {      
    background-color: rgb(221, 217, 217);
    min-height: 000px;
    margin-left: 00px;
    float: left;
    position: absolute; top: 75px; height: 36px; width: 550px; left: 850px;
}
#foto1 {      
    background-color: rgb(255, 255, 255);
    min-height: 000px;
    margin-left: 00px;
    float: left;
    position: absolute; top: 175px; height: 375px; width: 1100px; left: 500px;
}
#baslık1 {
    background-color: rgb(255, 255, 255);
    min-height: 000px;
    margin-left: 00px;
    float: left;
    position: absolute; top: 550px; height: 0px; width: 1100px; left: 500px;
}
#bölge1{
    background-color: aliceblue;
    position: absolute; top: 160px; height: 1500px; width: 1200px; left: 450px;                            
            box-shadow: 0px 0px 30px black;
        
} 


