body  {
    margin: 0px;
    padding: 0px;
    background-color: rgb(107, 107, 107);
}
#logo {
    width: 150px;
    background-color: rgb(255, 0, 0);
    min-height: 150px;
    margin-left: 700px;
    margin-right: auto;
    float: left;
}
#linkler {      
    background-color: rgb(0, 0, 0);
    min-height: 000px;
    margin-left: 00px;
    float: left;
    position: absolute; top: 114px; height: 36px; width: 550px; left: 850px;
}