body  {
    margin: 0px;
    padding: 0px;
    background-color: rgb(221, 217, 217);
}
#logo {
    width: 150px;
    background-color: rgb(221, 217, 217);
    min-height: 150px;
    margin-left: 700px;
    margin-right: auto;
    float: left;
}
#linkler {      
    background-color: rgb(221, 217, 217);
    min-height: 000px;
    margin-left: 00px;
    float: left;
    position: absolute; top: 75px; height: 36px; width: 550px; left: 850px;
}
#takım2 {
    position: absolute; top: 150px; height: 35px; width: 550px; left: 625px;
    float: left;
}
#takım3 {
    position: absolute; top: 400px; height: 35px; width: 550px; left: 625px;
    float: left;
}
#takım4 {
    position: absolute; top: 700px; height: 35px; width: 550px; left: 625px;
    float: left;
}
#takım5 {
    position: absolute; top: 1000px; height: 35px; width: 550px; left: 625px;
    float: left;
}
#efest2 {
    position: absolute; top: 150px; height: 35px; width: 550px; left: 1125px;
    float: left;
}
#efest3 {
    position: absolute; top: 400px; height: 35px; width: 550px; left: 1125px;
    float: left;
}
#efest4 {
    position: absolute; top: 700px; height: 35px; width: 550px; left: 1125px;
    float: left;
}
#efest5 {
    position: absolute; top: 1000px; height: 35px; width: 550px; left: 1125px;
    float: left;
}
